// ETPro 3.2.6 6on6 Global Config
// {{ builddate }}
// https://github.com/msh100/ETPro-configs
// Version: {{ version }}

configname "^5Global ^76on6 ^3Config ^2v{{ version }}"

init
{
    set b_gameformat "6"
    setl sv_pure 1
    setl sv_cheats 0

    setl g_gametype 3
    setl g_warmup 15
    setl g_doWarmup 1
    setl g_voiceChatsAllowed 99
    setl g_spectatorInactivity 0
    setl g_friendlyFire 1
    setl g_heavyWeaponRestriction 16
    setl g_medicChargeTime 45000
    setl g_LTChargeTime 35000
    setl g_engineerChargeTime 30000
    setl g_soldierChargeTime 30000
    setl g_covertopschargetime 30000
    setl g_landminetimeout 0
    setl g_teamForceBalance 0
    setl g_filtercams 1
    setl g_fastres 0
    setl g_noTeamSwitching 1
    setl g_knifeonly 0
    setl g_alliedmaxlives 0
    setl g_axismaxlives 0
    setl g_speed 320
    setl g_gravity 800
    setl g_knockback 1000

    setl team_maxSoldiers 1
    setl team_maxMedics -1
    setl team_maxEngineers -1
    setl team_maxFieldops -1
    setl team_maxCovertops -1

    setl team_maxFlamers 1
    setl team_maxMg42s 1
    setl team_maxMortars 0
    setl team_maxPanzers 1
    setl team_maxRiflegrenades 1
    setl team_maxplayers 0
    setl team_nocontrols 0

    setl match_latejoin 1
    setl match_minplayers 2
    setl match_readypercent 100
    setl match_timeoutcount 2
    setl match_timeoutlength 240
    setl match_warmupDamage 2

    setl g_allowVote 1
    setl vote_allow_balancedteams 0
    setl vote_allow_cointoss 1
    setl vote_allow_comp 0
    setl vote_allow_config *
    setl vote_allow_friendlyfire 0
    setl vote_allow_gametype 0
    setl vote_allow_kick 1
    setl vote_allow_map 1
    setl vote_allow_matchreset 1
    setl vote_allow_mutespecs 1
    setl vote_allow_muting 1
    setl vote_allow_nextmap 0
    setl vote_allow_pub 0
    setl vote_allow_referee 1
    setl vote_allow_shuffleteams 0
    setl vote_allow_shuffleteamsxp 0
    setl vote_allow_surrender 0
    setl vote_allow_swapteams 1
    setl vote_allow_timelimit 1
    setl vote_allow_warmupdamage 0
    setl vote_limit 99
    setl vote_percent 51

    setl b_levels_battlesense "-1"
    setl b_levels_engineer "-1"
    setl b_levels_medic "-1"
    setl b_levels_fieldops "-1"
    setl b_levels_lightweapons "-1"
    setl b_levels_soldier "-1"
    setl b_levels_covertops "-1"
    setl b_defaultskills ""
    setl b_noskillupgrades 1

    setl b_statsaver 1
    setl b_intermissiontime 20
    setl b_privatemessages 0
    setl b_floodKickRate 10
    setl b_floodKickBurst 15
    setl b_floodKickTime 0
    setl b_match_warmupjoin 0
    setl b_multiview 0
    setl b_xpstopwatch 0
    setl b_spectatornames 1
    setl b_shove 60
    setl b_shove_noz 1
    setl b_stickycharge 2
    setl b_damagexp 1
    setl b_antiwarp 1
    setl b_panzerlevelup 5
    setl b_headshot 0
    setl b_riflegrenades 1
    setl b_fallingbugfix 1
    setl b_fixedphysics 1
    setl b_fixedphysicsfps 125
    setl b_campaignfile ""
    setl b_defaultbantime 60
    setl b_ettv_flags 3
    setl b_shrug 0
    setl b_wolfrof 0
    setl b_flushitems 1
    setl b_distancefalloff 1
    setl b_helmetprotection 1
    setl b_maxmortarpitch 20
    setl b_chargetransfer 0
    setl b_sv_hitsounds 1
    setl b_realhead 1
    setl b_extendedprone 1
    setl b_pronedelay 1
    setl b_banners 0
    setl sv_minping 0
    setl sv_maxping 0
    setl pmove_fixed 0
    set nextmap ""

    setl b_mapscriptdirectory "globalmapscripts"
    setl b_mapconfigdirectory ""
    setl lua_modules "globalcombined.lua"
    setl lua_allowedmodules "{{ sha1:globalcombined.lua }}"

    set g_log "global6on6.log"
    set b_cheatlog "global6on6_cheats.log"

    setl b_anticheat 1
    setl b_cheatkicktime 1
    setl ac_sv_minage 0

    command "pb_sv_disable"
    command "sv_cvarempty"
    command "sv_cvar cl_freelook EQ 1"
    command "sv_cvar cl_pitchspeed EQ 0"
    command "sv_cvar cl_yawspeed EQ 0"
    command "sv_cvar cl_timenudge EQ 0"
    command "sv_cvar b_simpleitems IN 0 1"
    command "sv_cvar cg_bobup IN 0 0.005"
    command "sv_cvar cg_fov IN 90 140"
    command "sv_cvar cg_shadows IN 0 1"
    command "sv_cvar cg_autoaction IN 2 7"
    command "sv_cvar cg_crosshairx IN -2 2"
    command "sv_cvar cg_crosshairy IN -2 2"
    command "sv_cvar rate EQ 25000"
    command "sv_cvar cl_maxpackets EQ 100"
    command "sv_cvar snaps EQ 20"
    command "sv_cvar com_maxfps IN 40 200"
    command "sv_cvar m_pitch OUT -0.015 0.015"
    command "sv_cvar m_yaw IN -0.022 0.022"
    command "sv_cvar r_ambientScale EQ 0.5"
    command "forcecvar r_ambientScale 0.5"
    command "sv_cvar r_drawentities EQ 1"
    command "sv_cvar r_drawworld EQ 1"
    command "sv_cvar r_lightmap EQ 0"
    command "sv_cvar r_showmodelbounds EQ 0"
    command "sv_cvar r_showtris EQ 0"
    command "sv_cvar r_znear EQ 3"
    command "sv_cvar r_allowextensions EQ 1"
    command "sv_cvar r_ati_fsaa_samples EQ 0"
    command "sv_cvar r_ati_truform_tess EQ 0"
    command "sv_cvar r_clamptoedge EQ 1"
    command "sv_cvar r_colorMipLevels EQ 0"
    command "sv_cvar r_depthbits IN 24 32"
    command "sv_cvar r_detailtextures EQ 0"
    command "sv_cvar r_flares IN 0 1"
    command "sv_cvar r_ext_ATI_pntriangles EQ 0"
    command "sv_cvar r_nv_fogdist_mode INCLUDE NV GL_EYE_RADIAL_NV"
    command "sv_cvar r_primitives IN 0 2"
    command "sv_cvar r_subdivisions IN 1 20"
    command "sv_cvar r_lodcurveerror GE 60"
    command "forcecvar r_wolffog 0"
    command "forcecvar r_zfar 0"
    command "wait 50"
    command "pb_sv_restart"
}

map default
{
    set g_userTimeLimit 0
    setl g_useralliedrespawntime 0
    setl g_useraxisrespawntime 0
    setl b_moverscale 1
    setl team_maxMines 5
    command "forcecvar r_drawfoliage 1"
}

map fueldump
{
    set g_userTimeLimit 15
    setl b_moverscale 1.5
    mapscripthash {{ sha1:mapscripts/fueldump.script }}
}

map sw_fueldump
{
    setl g_usertimelimit 15
    setl b_moverscale 1.40
    mapscripthash {{ sha1:mapscripts/sw_fueldump.script }}
}

map radar
{
    set g_userTimeLimit 12
    command "forcecvar r_drawfoliage 0"
    mapscripthash {{ sha1:mapscripts/radar.script }}
}

map battery
{
    set g_userTimeLimit 10
    setl team_maxMines 0
    mapscripthash {{ sha1:mapscripts/battery.script }}
}

map goldrush
{
    set g_userTimeLimit 15
    setl b_moverscale 1.5
    mapscripthash {{ sha1:mapscripts/goldrush.script }}
}

map sw_goldrush_te
{
    set g_userTimeLimit 15
    setl b_moverscale 1
    mapscripthash {{ sha1:mapscripts/sw_goldrush_te.script }}
}

map sw_oasis_b3
{
    set g_userTimeLimit 15
    setl g_useralliedrespawntime 15
    setl g_useraxisrespawntime 30
    mapscripthash {{ sha1:mapscripts/sw_oasis_b3.script }}
}

map railgun
{
    set g_userTimeLimit 15
    setl g_useralliedrespawntime 30
    setl g_useraxisrespawntime 15
    setl b_moverscale 1
    mapscripthash {{ sha1:mapscripts/railgun.script }}
}

map et_ice
{
    set g_userTimeLimit 12
    setl g_useraxisrespawntime 25
    setl team_maxMines 0
    mapscripthash {{ sha1:mapscripts/et_ice.script }}
}

map tc_base
{
    set g_userTimeLimit 12
    setl team_maxMines 0
    mapscripthash {{ sha1:mapscripts/tc_base.script }}
}

map reactor_final
{
    set g_userTimeLimit 12
    setl g_useralliedrespawntime 20
    setl g_useraxisrespawntime 30
    mapscripthash {{ sha1:mapscripts/reactor_final.script }}
}

map dubrovnik_final
{
    setl g_useraxisrespawntime 30
    setl g_useralliedrespawntime 10
    mapscripthash {{ sha1:mapscripts/dubrovnik_final.script }}
}

map braundorf_b4
{
    set g_userTimeLimit 12
    mapscripthash {{ sha1:mapscripts/braundorf_b4.script }}
}

map frostbite
{
    set g_userTimeLimit 10
    setl g_useralliedrespawntime 25
    setl g_useraxisrespawntime 30
    mapscripthash {{ sha1:mapscripts/frostbite.script }}
}

map adlernest
{
    set g_userTimeLimit 10
    mapscripthash {{ sha1:mapscripts/adlernest.script }}
}

map warbell
{
    set g_userTimeLimit 15
    setl g_useralliedrespawntime 30
    setl g_useraxisrespawntime 15
    mapscripthash {{ sha1:mapscripts/warbell.script }}
}

map supply
{
    set g_userTimeLimit 15
    mapscripthash {{ sha1:mapscripts/supply.script }}
}

map supplydepot2
{
    set g_userTimeLimit 15
    mapscripthash {{ sha1:mapscripts/supplydepot2.script }}
}

map sw_battery
{
    set g_userTimeLimit 12
    mapscripthash {{ sha1:mapscripts/sw_battery.script }}
}

map sp_delivery_te
{
    set g_userTimeLimit 12
    setl g_useralliedrespawntime 20
    setl g_useraxisrespawntime 30
    mapscripthash {{ sha1:mapscripts/sp_delivery_te.script }}
}

map bremen_b2
{
    set g_usertimelimit 15
    mapscripthash {{ sha1:mapscripts/bremen_b2.script }}
}

map bremen_b3
{
    set g_usertimelimit 15
    mapscripthash {{ sha1:mapscripts/bremen_b3.script }}
}

map et_beach
{
    set g_userTimeLimit 10
    mapscripthash {{ sha1:mapscripts/et_beach.script }}
}

map karsiah_te2
{
    set g_userTimeLimit 12
    mapscripthash {{ sha1:mapscripts/karsiah_te2.script }}
}

map Karsiah_te2
{
    set g_userTimeLimit 12
    mapscripthash {{ sha1:mapscripts/karsiah_te2.script }}
}

map wolken1_b1
{
    set g_userTimeLimit 12
    mapscripthash {{ sha1:mapscripts/wolken1_b1.script }}
}

map caen
{
    set g_userTimeLimit 15
    setl g_useralliedrespawntime 30
    setl g_useraxisrespawntime 20
    setl team_maxMines 3
    setl b_moverscale 1.5
    mapscripthash {{ sha1:mapscripts/caen.script }}
}

map te_escape2
{
    set g_userTimeLimit 15
    setl g_useralliedrespawntime 20
    setl g_useraxisrespawntime 30
    mapscripthash {{ sha1:mapscripts/te_escape2.script }}
}

map mp_sub_rc1
{
    set g_userTimeLimit 15
    setl g_useralliedrespawntime 20
    setl g_useraxisrespawntime 30
    mapscripthash {{ sha1:mapscripts/mp_sub_rc1.script }}
}

map et_ufo_final
{
    set g_userTimeLimit 15
    setl g_useralliedrespawntime 20
    setl g_useraxisrespawntime 30
    mapscripthash {{ sha1:mapscripts/et_ufo_final.script }}
}

map erdenberg_b2
{
    set g_userTimeLimit 12
    setl g_useralliedrespawntime 20
    setl g_useraxisrespawntime 30
    mapscripthash {{ sha1:mapscripts/erdenberg_b2.script }}
}

map missile_b3
{
    mapscripthash {{ sha1:mapscripts/missile_b3.script }}
}
